Styles img { position: absolute; 

      left: 80px;
      top: 0px;
      z-index: -1;
      background-image: url(../deepcss.jpg)}
      
img { position: absolute; 
       left: 0px;
       top: 0px;
       z-index: -1;}
      
      

